@model List<TimeTrackingsApp.Models.Entities.LeaveRequest>

<h2>Wnioski urlopowe</h2>

<script>
    var szer = window.matchMedia("(max-width: 1135px)");

    document.addEventListener("DOMContentLoaded", function () {
        renderTable();
    });

    szer.addEventListener('change', () => {
        renderTable();
    });

    function renderTable() {
        if (szer.matches) {
            document.getElementById('table').innerHTML =
                `
                @foreach (var r in Model)
                {
                        <tr><th>Pracownik</th><td>@r.User.FirstName @r.User.LastName</td></tr>
                        <tr><th>Typ</th><td>@r.leavetype</td></tr>
                        <tr><th>Od</th><td>@r.startdate.ToString("yyyy-MM-dd")</td></tr>
                        <tr><th>Do</th><td>@r.enddate.ToString("yyyy-MM-dd")</td></tr>
                        <tr><th>Dni</th><td>@r.dayscount</td></tr>
                        <tr><th>Status</th><td>@r.status</td></tr>
                        <tr><td colspan="2"><hr /></td></tr>
                }
                `;
        } else {
            document.getElementById('table').innerHTML =
                `
                <tr>
                    <th>Pracownik</th>
                    <th>Typ</th>
                    <th>Od</th>
                    <th>Do</th>
                    <th>Dni</th>
                    <th>Status</th>
                </tr>
                @foreach (var r in Model)
                {
                        <tr>
                            <td>@r.User.FirstName @r.User.LastName</td>
                            <td>@r.leavetype</td>
                            <td>@r.startdate.ToString("yyyy-MM-dd")</td>
                            <td>@r.enddate.ToString("yyyy-MM-dd")</td>
                            <td>@r.dayscount</td>
                            <td>@r.status</td>
                        </tr>
                }
                `;
        }
    }
</script>

<table class="table table-bordered">
    <tbody id="table">
    </tbody>
</table>
